body {
   height: 100vh;
   width: 100vw;
   margin: 0;
}
.h {
    color: #4aaaa5;
    padding-left: 8px;
}
.background {
    background: url(../images/what-the-hex.png) no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    min-width: auto;
}
form {
    margin: 0 auto;
    width: 400px;
    padding: 80px;
    height: 350px;
}
form div + div {
    margin-top: 1em;

}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
    font: 1em Arial, 'Helvetica Neue', Helvetica, sans-serif;
    width: 300px;
    box-sizing: border-box;
    /*border: 1px solid #777777;*/
}
input:focus, textarea:focus {
    border-color: #000
}
textarea {
    vertical-align: top;
    height: 5em;
}
.button {
    padding-left: 90px;
}
button {
    margin-left: .5em;
    background-color: 4aaaa5;
}
.top {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
}
header {
    flex-shrink: 1;
    background-color: #4aaaa5;
    color: #ffffff;
    margin-left: 310px;
    padding: 0px 10px 0px 10px;
}
nav {
    flex-grow: 1;
    align-self: center;
    padding-left: 600px;
}
.body {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    position: relative;
    height: 525px;
    
}
.content {
    max-width: 960px;
    margin: auto;
    color: #777777;
    padding-bottom: 100px;
}
.link {
    padding: 5px;
    color: #777777;
}
a:hover {
    background-color: #4aaaa5;
    color: #000000;
}
a:visited {
    color: #4aaaa5;
    background-color: #000000;
}
.profile {
    float: left;
}
.footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
}
.top-left {
    position: absolute;
    top: 80px;
    left: 15px;
}
.top-right {
    position: relative;
    right: -350px;
}
.middle-left {
    position: absolute;
    top: 210px;
    left: 15px;
}
.middle-right {
    position: relative;
    height: -400px;
    right: -350px;
}
.bottom-left {
    position: relative;
    top: 10px;
    left: 15px;
}
.text-tl {
    position: absolute;
    bottom: 15px;
    background-color: #4aaaa5;
    width: 200px;
    color: #ffffff;
    text-align: center;    
}
.text-tr {
    position: absolute;
    bottom: 15px;
    background-color: #4aaaa5;
    width: 200px;
    color: #ffffff;
    text-align: center;    
}
.text-ml {
    position: absolute;
    bottom: 15px;
    background-color: #4aaaa5;
    width: 200px;
    color: #ffffff;
    text-align: center;    
}
.text-mr {
    position: absolute;
    bottom: 15px;
    background-color: #4aaaa5;
    width: 200px;
    color: #ffffff;
    text-align: center;    
}
.text-bl {
    position: absolute;
    bottom: 15px;
    background-color: #4aaaa5;
    width: 200px;
    color: #ffffff;
    text-align: center;    
}