body {
   height: 100vh;
   width: 100vw;
   margin: 0;
}
/*form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #777777;
    border-radius: 1em;
}
form div + div {
    margin-top: 1em;

}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
    font: 1em Arial, 'Helvetica Neue', Helvetica, sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #777777;
}
input:focus, textarea:focus {
    border-color: #000
}
textarea {
    vertical-align: top;
    height: 5em;
}
.button {
    padding-left: 90px;
}
button {
    margin-left: .5em;
    background-color: 4aaaa5;
}*/
.top {
    display: flex;
    border: 2px soild #cccccc;
    justify-content: center;
    margin-bottom: 40px;
}
header {
    flex-shrink: 1;
    background-color: #4aaaa5;
    color: #ffffff;
    margin-left: 310px;
    padding: 0px 10px 0px 10px;
}
nav {
    flex-grow: 1;
    align-self: center;
    padding-left: 600px;
    /* align-content: flex-end; */
}
.body {
    border: 1px solid #cccccc;
    background-color: #ffffff;
}
.content {
    max-width: 960px;
    margin: auto;
    color: #777777;
    padding-bottom: 100px;
    background-image: url(C:\git\Basic-Portfolio\assets\images\what-the-hex.png)
}
.link {
    padding: 5px;
    color: #777777;
}
a:hover {
    background-color: #4aaaa5;
    color: #000000;
}
a:visited {
    color: #4aaaa5;
    background-color: #000000;
}
.profile {
    float: left;
}
.footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 115px;
}